<div class="col-3-md">
    <a href="https://guifi.net" target="_blank">
        <img src="https://guifi.net/sites/all/themes/theme_guifinet2011/img/guifi-logo.png">
    </a>
</div>
<div class="col-3-md">
    <a href="https://upc.edu" target="_blank">
        <img src="https://www.upc.edu/++theme++homeupc/assets/images/logomark.png">
    </a>
</div>
