{% include 'header.html.j2' %}
<h2>Supported Devices</h2>
<input type="text" id="search_input" onkeyup="search_delayed()" placeholder="Search for device...">
<div id="device_table">
</div>
<script>
var delay_timer;
function search_delayed() {
	clearTimeout(delay_timer);
	delay_timer = setTimeout(search, 500);
}

function search() {
	var xmlhttp = new XMLHttpRequest();
	var output = document.getElementById("device_table");
    var device = document.getElementById("search_input").value;

	xmlhttp.open("GET", "search?device=" + device, true);

	xmlhttp.onreadystatechange = function () {
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			device_results(xmlhttp);
		}
	}
	xmlhttp.send(null);

	function device_results(xmlhttp) {
		output.innerHTML = xmlhttp.responseText
	}
};
window.addEventListener("load", search);
</script>
{% include 'footer.html.j2' %}
